:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Figtree", sans-serif;
    font-size: clamp(0.6rem, 0.8rem + 1vw, 1.2rem);
    background-color: var(--yellow);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(30rem, 0.8rem + 20vw, 40rem);
    background-color: var(--white);
    box-shadow: var(--gray-950) 5px 5px 5px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h1 {
    order: 0;
}

img {
    max-inline-size: 100%;
    block-size: auto;
}