:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Figtree", sans-serif;
    font-size: clamp(0.6rem, 0.8rem + 1vw, 1.2rem);
    font-weight: 500;
    background-color: var(--yellow);
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.2rem 1.3rem;
    gap: 1.5rem;
    width: clamp(25rem, 0.8rem + 20vw, 30rem);
    background-color: var(--white);
    box-shadow: var(--gray-950) 0.6rem 0.6rem;
    border-radius: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

#bgImage {
    width: 100%;
    border-radius: 10px;
}

#learning-tag {
    background-color: var(--yellow);
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    font-size: clamp(0.4rem, 0.6rem + 1vw, 1rem);
    font-weight: 800;
}

#published-date {
    font-size: clamp(0.4rem, 0.6rem + 1vw, 1rem);
}

a {
    text-decoration: none;
    color: var(--gray-950);
    font-size: clamp(1.2rem, 1.2rem + 1vw, 1.6rem);
    font-weight: 800;
}

a:hover {
    color: var(--yellow);
}

a:active {
    color: var(--gray-500);
}
/*
a:focus {
    outline: solid var(--yellow) 2px;
}
*/

#description {
    color: var(--gray-500);
}

#avatar {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#avatar-name {
    color: var(--gray-950);
    font-weight: 800;
}
