:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Figtree", sans-serif;
    font-size: 16px;
    background-color: var(--yellow);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    background-color: var(--white);
    box-shadow: var(--gray-950) 5px 5px 5px;
    border-radius: 10px;
}

